---
controller_templates:
  - name: OS / Patch OS to latest
    project: Project Leapp
    playbook: pkgs_full_update.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    ask_limit_on_launch: true
  - name: AUTO / 01 Analysis
    project: Project Leapp
    playbook: analysis.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    extra_vars:
      leapp_upgrade_type: rhui
      leapp_repos_enabled: []
    ask_variables_on_launch: true
    ask_limit_on_launch: true
  - name: OS / Upgrade
    project: Project Leapp
    playbook: upgrade.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    extra_vars:
      leapp_upgrade_type: rhui
      leapp_repos_enabled: []
    ask_variables_on_launch: true
    ask_limit_on_launch: true
  - name: OS / Remediation
    project: Project Leapp
    playbook: remediate.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    ask_limit_on_launch: true
  - name: PETS / App Install
    project: Project Leapp
    playbook: pet_clinic.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    ask_limit_on_launch: true
  - name: UTILITY / Snapshot Instance
    project: Project Leapp
    playbook: snapshot_instance_lvm.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    extra_vars:
      snapshot_set_name: ripu01
      snapshot_create_snapshot_autoextend_threshold: 70
      snapshot_create_snapshot_autoextend_percent: 20
      snapshot_create_boot_backup: true
      snapshot_create_volumes:
        - vg: VolGroup00
          lv: rootVol
          size: 3G
        - vg: VolGroup00
          lv: varVol
          size: 5G
        - vg: VolGroup00
          lv: logVol
          size: 500M
        - vg: VolGroup00
          lv: auditVol
          size: 100M
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
        - question_name: Snapshot action
          type: multiplechoice
          variable: lvm_snapshots_action
          choices:
            - check
            - create
            - revert
            - remove
          required: true
    ask_variables_on_launch: true
    ask_limit_on_launch: true
  - name: AUTO / 03 Rollback
    project: Project Leapp
    playbook: snapshot_instance_lvm.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    extra_vars:
      snapshot_set_name: ripu01
      snapshot_create_boot_backup: true
      lvm_snapshots_action: revert
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    ask_variables_on_launch: true
    ask_limit_on_launch: true
  - name: UTILITY / Instance Details
    project: Project Leapp
    playbook: instance_details.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    extra_vars:
      ec2_region: "{{ workshop_ec2_region }}"
      instances:
        tags:
          guid: "{{ lookup('env', 'AWX_HOST').split('.')[1] }}"
          Student: "{{ lookup('env', 'AWX_HOST').split('.')[0] | urlsplit('hostname') }}"
          operating_system: rhel
  - name: UTILITY / Update inventories via dynamic sources
    project: Project Leapp
    playbook: inventory_source_update.yml
    inventory: Workshop Inventory
    credentials:
      - Controller Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory to update
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
  - name: UTILITY / Fact Scan
    project: Project Leapp
    playbook: fact_scan.yml
    inventory: Workshop Inventory
    use_fact_cache: true
    credentials:
      - Workshop Credential
    extra_vars:
      rhel_inventory_group: all
  - name: UTILITY / Set instance tags
    project: Project Leapp
    playbook: set_instance_tags.yml
    inventory: Workshop Inventory
    limit: ansible-1
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
        - question_name: Enter server name - Leave blank to target all
          type: text
          variable: ripu_pet_name
          required: false
    extra_vars:
      ec2_region: "{{ workshop_ec2_region }}"
      instances_template:
        tags:
          guid: "{{ lookup('env', 'AWX_HOST').split('.')[1] }}"
          Student: "{{ lookup('env', 'AWX_HOST').split('.')[0] | urlsplit('hostname') }}"
          operating_system: rhel
  - name: UTILITY / Extend partition and resize physical volume
    project: Project Leapp
    playbook: partition_lvm_resize.yml
    inventory: Workshop Inventory
    credentials:
      - Workshop Credential
    survey_enabled: true
    survey:
      name: ''
      description: ''
      spec:
        - question_name: Select inventory group
          type: multiplechoice
          variable: rhel_inventory_group
          choices:
            - ALL_rhel
            - rhel7
            - rhel8
            - rhel9
          required: true
    ask_limit_on_launch: true
    extra_vars:
      full_storage_device_name: /dev/nvme0n1
      perform_resize: true

  - name: Demo Job Template
    state: absent
...
